
		
	<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, fallback:"no_image.jpg",size:"100x100"%>
	
<table class="table">
	<tbody>
		<tr></tr>
		<th>name</th>
		<!-- ログインユーザーの名前 -->
		<th><%= user.name %></th>
		<tr>
		<th>introduction</th>
		<!-- 登録した自己紹介文 -->
		<th><%= user.introduction%></th>
	    </tr>
    </tbody>
</table>
<% if user.id == current_user.id %>
<%=link_to "", edit_user_path(current_user),class:"btn btn-default glyphicon glyphicon-wrench col-xs-12" %>
<% end %>




	<!-- ボタン -->

<div class="col-xs-12">
	

	

<h2>New book</h2>
<!-- form_for -->
<%= form_for(book) do |f| %>
<div class="field row">
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true, autocomplete: "title",class:"col-xs-12"%>
  </div>

<div class="field row">
    <%= f.label :opinion %><br/>
    <%= f.text_area :body,class:"col-xs-12"%>
  </div>
<div class="actions row" >
<%= f.submit 'Create Book',class:"btn btn-primary col-xs-12", style:"margin-top:7px;"%>
</div>
<% end %>
</div>
	
