<div class="col-xs-3">
	<h2>User info</h2>
<%= attachment_image_tag user, :profile_image, fallback:"no_image.jpg",size:"100x100"%>
</div>
<table class="table">
	<tbody>
		<tr></tr>
		<th>name</th>
		<!-- ログインユーザーの名前 -->
		<th><%= user.name %></th>
		<tr>
		<th>introduction</th>
		<!-- 登録した自己紹介文 -->
		<th><%= user.introduction %></th>
	    </tr>
    </tbody>
</table>

<div class="row">

	<!-- ボタン -->
<%=link_to "USER EDIT", edit_user_path(current_user) %>

</div>

<h2>New book</h2>
<!-- form_for -->
<%= form_for(book, url: books_path) do |f| %>
<div class="field row">
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

<div class="field row">
    <%= f.label :opinion %><br/>
    <%= f.text_field :body %>
  </div>
<div class="actions row">
<%= f.submit 'Create Book' %>
</div>
<% end %>

