<div class="container">
	<div class="row">
		<h2>Follower Users</h2>
		<div class="col-xs-9">
			<!-- もしフォロワーがいなかったら「ユーザーはいません」 -->

			<% if @users.count > 0 %>

			<table class="table table-hover table-inverse">
				<thead>
					<tr>
						<th>imgae</th>
						<th>name</th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td>
							<%= link_to user_path(user) do %>
							<%= attachment_image_tag user, :profile_image, fallback:"no_image.jpg",size:"50x50" %>
							<% end %>
							</td>
						<td><%= user.name %></td>
						<td>フォロー数:<%= user.followings.count %></td>
						<td>フォロワー数:<%= user.followers.count %></td>
						<td><%= link_to "Show", user_path(user) %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
			<% else %>
			<p>ユーザーはいません</p>
			<% end %>
		</div>
		
	</div>
	
</div>
