<h2>Books detail</h2>
<%= render 'users/list', user: @book.user, book: @book_new %>
<%= link_to user_path(@user) do %>
	<%= attachment_image_tag @user, :profile_image, :fill, 60,60, fallback: "no_image.jpg", size:'50x50'%>
	<p><%= @user.name %></p>
<% end %>
<p><%= @book.title %></p>
<p><%= @book.body %></p>

<!-- link_to user-show -->

<table>
	<thead>
		<tr>
			<th></th>
			<th>Title</th>
			<th>Opinion</th>
			<th colspan="3"></th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>