<div class="container">
	<div class="row">
<% if flash[:sucess_message] %>
      <div class="flash">
        <%= flash[:sucess_message] %>
      </div>
 <% end %>


 <% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
    	<%= @user.errors.count %>errors prohibited this obj from being saved
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


	


<div class="col-xs-3">
<%= render 'users/list', user: @book.user, book: @new_book %>
</div>

	


<div class="col-xs-9">
<h2>Book detail</h2>
<table class="table">
	<thead>
		<tr>
			<td>
				<div class="i">
					
				
				<%= link_to user_path(@user) do %>
			<div>
			<%= attachment_image_tag @user, :profile_image, fallback:"no_image.jpg", size:"50x50"%>
				
			</div>
			<%= @user.name %>
			<% end %>
			     </div>
			</td>
			<td><%= @book.title %></td>
			<td><%= @book.body %></td>
			<% if @book.user == current_user%>
			<td><%= link_to "Edit", edit_book_path(@book),class:"btn-success" %></td>
			<td><%= link_to "Destroy", book_path(@book), method: :delete,data:{confirm:"本当に消しますか？"} ,class:"btn-sm btn-danger"%></td>
			<% end %>



		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
</div>
</div>
	
